@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.sessionv != null)
{
    <p class="text-center text-success">
        Vous êtes connecté en tant que compte administrateur : @ViewBag.sessionv
    </p>
}